# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.idea/
node_modules/
platforms/
plugins/
scss/ionic.app.css
scss/ldj.app.css
scss/ldj.app.css.map
www/js/config.js
