<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button class="button button-clear" ng-click="hideFodderModal()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </div>
        <div class="title">饲料</div>
        <div class="buttons">
            <button class="button button-clear" ng-click="">
                保存
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list forms">
            <label class="item item-input">
                <i class="front-input">*</i>
                <div class="input-label">
                    <span class="star-space">饲料名称：</span>
                </div>
                <input type="text" placeholder="请填写饲料名称">
            </label>
            <label class="item item-input">
                <div class="input-label">
                    <span class="star-space">生产企业：</span>
                </div>
                <input type="text" placeholder="请填写生产企业名称">
            </label>
            <label class="item item-input">
                <span class="star-space">生产日期：</span>
                <input type="text" placeholder="日期">
            </label>
            <div class="item item-input item-select">
                <div class="input-label">
                    <span class="star-space">有效期：</span>
                </div>
                <select>

                </select>
            </div>
            <div class="item item-input item-select">
                <div class="input-label">
                    <span class="star-space">投喂方式：</span>
                </div>
                <select>
                    <option>自由采食</option>
                    <option>自由采食</option>
                    <option>自由采食</option>
                    <option>自由采食</option>
                </select>
            </div>
            <label class="item item-input">
                <i class="front-input">*</i>
                <div class="input-label">
                    <span class="star-space">用量单位：</span>
                </div>
                <input type="text" placeholder="请填写单位">
            </label>
            <label class="item item-input">
                <i class="front-input">*</i>
                <div class="input-label">
                    <span class="star-space">每个动物用量：</span>
                </div>
                <input type="text" placeholder="请填写">
            </label>
            <label class="item item-input">
                <div class="input-label">
                    <span class="star-space">本次总用量：</span>
                </div>
                <input type="text" placeholder="请填写">
            </label>
        </div>
    </ion-content>
</ion-modal-view>









