<ion-view view-title="服务中心" hide-nav-bar="showHeader" class="service-tab">
    <ion-content>
        <div class="service-help" ng-if="serviceHelp">
            <a class="service-help-step" ng-click="serviceHelpStep()"></a>
        </div>
        <div class="stuck"></div>
        <div class="list morebuttons">
            <div class="item item-divider"><span>已开通</span></div>
            <div class="row morebuttons">
                <a class="col" href="#/tab/service/task"><img src="img/task-management.png" /><span>任务管理</span></a>
                <a class="col" href="#/tab/service/standard"><img src="img/standard-system.png" /><span>标准管理</span></a>
                <a class="col" href="#/tab/service/video"><img src="img/Video-surveillance.png" /><span>视频监控</span></a>
                <a class="col"></a>
            </div>
            <div class="item item-divider"><span>未开通</span></div>
            <div class="row morebuttons">
                <a class="col" ng-click="notice()"><img src="img/Warehouse.png" /><span>仓库管理</span></a>
                <a class="col" ng-click="notice()"><img src="img/Finance.png" /><span>财务管理</span></a>
                <a class="col" ng-click="notice()"><img src="img/Analysis.png" /><span>分析报表</span></a>
                <a class="col" ng-click="notice()"><img src="img/Interface.png" /><span>电商接口</span></a>
            </div>
            <div class="row">
                <a class="col" ng-click="notice()"><img src="img/sensor.png" /><span>传感器</span></a>
                <a class="col" ng-click="notice()"><img src="img/contorller.png" /><span>控制器</span></a>
                <a class="col" ng-click="notice()"><img src="img/Big-screen.png" /><span>大屏显示</span></a>
                <a class="col" ng-click="notice()"><img src="img/Monitor.png" /><span>发情监测</span></a>
            </div>
            <div class="row">
                <a class="col" ng-click="notice()"><img src="img/guard-against-theft.png" /><span>防盗警报</span></a>
                <a class="col" ng-click="notice()"><img src="img/Weigh.png" /><span>称重系统</span></a>
                <a class="col" ng-click="notice()"><img src="img/project-management.png" /><span>计划管理</span></a>
                <a class="col"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
