<ion-view view-title="农场" class="page_farm" hide-nav-bar="true">
    <ion-content>
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="item in farms">
                <ion-content>
                    <div class="nfarm" ng-style="{'min-height': fheight}">
                        <div class="weather">
                            <img ng-src="{{weather.weatherPic}}">
                            <span><marquee scrollamount="2">{{weather.site}}&nbsp;{{weather.wData}}&nbsp;{{weather.temperature}}</marquee></span>
                        </div>
                        <div class="topbtns">
                            <div class="row">
                                <a class="col" ng-click="getOddNums()"><img src="img/number.png" /></a>
                                <a class="col blebutton" ng-if="bleStatus === 'off'" ng-click="connectble()">
                                    <img src="img/bleoff.png" />
                                </a>
                                <a class="col blebutton" ng-if="bleStatus === 'on'" ng-click="disconnectble()">
                                    <img src="img/linking.gif" />
                                </a>
                                <a class="col" ng-click="showSearch()"><img src="img/search.png" /></a>
                                <a class="col" ng-click="showShare()"><img src="img/share.png" /></a>
                            </div>
                        </div>
                        <div class="fan"><img src="img/fan.gif"/></div>
                        <div class="nfarmname">
                            <img src="img/farm-name.png"/>
                            <span>
                                 <p ng-hide="isShowCommname">{{item.CommName}}</p>
                                 <marquee scrollamount="2" ng-show="isShowCommname">{{item.CommName}}</marquee>
                            </span>
                        </div>
                        <div class="farm_list_background" ng-show="isDeletePen" ng-click="cancelWantToDeletePen()">
                            <div class="row nfarm_list" ng-repeat="subitem in item.penslist">
                                <div class="col col-33 text-center" ng-repeat="subpen in subitem">
                                    <div ng-show="!!subpen.PID" class="deleteBtWarp" ng-class="isDeletePen? 'deletPenAnimation' : ''">
                                        <div class="fillSpace" ng-show="!!subpen.PID" ng-class="isDeletePen? 'deletPenAnimation' : ''">
                                            <img src="img/farm-v1.png" alt="" width="60"> <p>{{subpen.PlainName}}</p>
                                        </div>
                                        <div class="deleteBt" ng-show="isDeletePen" ng-click="deletePen(subpen,$event)"><i class="ion ion-close-circled"></i></div> <!-- ng-show="isDeletePen"-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nfarm_lists">
                            <div class="row nfarm_list" ng-repeat="subitem in item.penslist">
                                <div class="col col-33 text-center" ng-repeat="subpen in subitem" ng-click="GetLWAll(item, subpen ,$event)">  <!--    on-hold="wantToDeletePen(subpen)"    on-tap  和ng-click             "GetLWAll(item, subpen ,$event)"  on-tap="GetLWAll(item, subpen)" on-hold="wantToDeletePen(subpen)"                ng-mousedown="ldj()" ng-mouseup="ldj2()"  on-tap="GetLWAll(item, subpen)"-->
                                    <div ng-show="!!subpen.PID" ng-class="isDeletePen? 'deletPenAnimation' : ''"> <!---->
                                        <img src="img/farm-v1.png" alt="" width="60"> <p>{{subpen.PlainName}}</p>
                                    </div>
                                    <!-- 隐藏点击添加栏位按钮
                                    <div ng-if="!subpen.PID && item.IsMy === 1" class="addPen">
                                        <div><i class="ion ion-plus"></i></div>
                                        <div>点击添加栋舍</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-slide-page>
           <!--  隐藏添加农场按钮!
           <ion-slide-page class="addFarmSlide">
                <div class="new-help-1" ng-if="showHelp1" ng-click="hideHelp1()">
                    <div class="hollow"></div>
                    <div class="border"></div>
                    <div class="arrow"><img src="img/help1-1.png"/></div>
                    <div class="notice">点击上面的添加按钮，即可创建农场。</div>
                    <div class="bt"></div>
                </div>
                <div class="nfarm" ng-style="{'min-height': fheight}">
                    <div class="weather" ng-if="isShowWeather">
                        <img src="img/overcast.png">
                        <span>12℃&nbsp;&nbsp;无锡</span>
                    </div>
                    <div class="fan"><img src="img/fan.gif"/></div>
                    <div class="topbtns" ng-show="topbtns">
                        <div class="row">
                            <a class="col button" ng-click="showSearch()"><img src="img/search.png" /></a>
                            <a class="col button" ng-click="mapModal.show()"><img src="img/map.png" /></a>
                            <a class="col button" ng-click="showShare()"><img src="img/share.png" /></a>
                        </div>
                    </div>
                    <div class="nfarmname">
                        <img src="img/farm-name.png" />
                    </div>
                    <div class="addfarm-bg"></div>
                    <a class="addfarm" ng-click="showfarmAdd()">
                        <i class="ion ion-plus"></i>
                        <p>添加新农场</p>
                    </a>
                </div>
            </ion-slide-page>-->
            <!-- <ion-slide-page class="addFarmSlide">
                <div class="nfarm" ng-style="{'min-height': fheight}">
                    <div class="fan"><img src="img/fan.gif"/></div>
                    <div class="loadfarm">农场加载中...</div>
                </div>
            </ion-slide-page> -->
        </ion-slides>
    </ion-content>
    <!--农事按钮组-->
    <div ng-repeat="item in farms">  <!--item.showPlain-->
        <div class="nPlain_lists_header" ng-if="false">          <!-- 锡盟的不展示需要展示用   ng-show="item.showPlain" -->
            <img src="img/plain-lists-logo.png" /><span>{{activeName}}</span>
            <div class="right" ng-click="showForeman()">
                 <img src="img/fzr.png"/>
            </div>
        </div>
        <div class="nPlain_lists" ng-if="false">          <!-- 锡盟的不展示需要展示用   ng-show="item.showPlain" -->
            <div class="colPlain_list">
                <div class="left">
                    <div class="my-col" ng-repeat="subitem in LeftPlains">  <!--ng-click="choose(Plains, subitem)"-->
                        <div class="border">  <!-- ng-class="subitem.choose == true ? 'blue' : ''"-->
                            <div class="up">
                                <img src="img/lanwei-logo.png" /><span class="PlainName">{{subitem.PlainName}}</span>
                            </div>
                            <div class="down">
                                <p>{{activeType}}<span>{{subitem.plannum}}</span>头</p>
                                <b ng-if="subitem.YzyPerson">养殖员:{{subitem.YzyPerson}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="my-col1" style="visibility: hidden">

                    </div>
                </div>
                <div class="right">
                    <div class="my-col" ng-repeat="subitem in RlightPlains" >   <!--ng-click="choose(Plains, subitem)"-->
                        <div class="border">
                            <div class="up">
                                <img src="img/lanwei-logo.png" /><span class="PlainName">{{subitem.PlainName}}</span>
                            </div>
                            <div class="down">
                                <p>{{activeType}}<span>{{subitem.plannum}}</span>头</p>
                                <b ng-if="subitem.YzyPerson">养殖员:{{subitem.YzyPerson}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="my-col1" style="visibility: hidden">

                    </div>
                </div>
            </div>
        </div>
        <div class="actualCtrBG" ng-click="hideBT(item)"  ng-if="false"></div>      <!-- ng-show="item.showactions" -->
        <div class="actions" ng-if="false">                               <!--  整个界面 完全不展现了. 如果需要展现的话, 就 用 ng-show="item.showactions"  来控制-->
            <div class="row">
                <div class="col" ng-click="showFeed()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/farm-feed.png">
                    <div class="aname">喂养</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/farm-feed-disabled.png" >
                    <div class="aname">喂养</div>
                </div>
                <div class="col" ng-click="showout()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/out.png">
                    <div class="aname">淘汰</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/out-disabled.png">
                    <div class="aname">淘汰</div>
                </div>
                <div class="col" ng-click="showVaccination()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/farm-vaccination.png">
                    <div class="aname">免疫</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/farm-vaccination-disabled.png">
                    <div class="aname">免疫</div>
                </div>
                <div class="col" ng-click="showfeildChange()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/farm-out.png">
                    <div class="aname">转栏</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/farm-out-disabled.png">
                    <div class="aname">转栏</div>
                </div>
            </div>
            <div class="row last">
                <div class="col" ng-click="showEntry(item)">
                    <img src="img/entry.png">
                    <div class="aname">入栏</div>
                </div>
                <div class="col" ng-click="showCure()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/farm-cure.png">
                    <div class="aname">治疗</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/farm-cure-disabled.png">
                    <div class="aname">治疗</div>
                </div>
                <div class="col" ng-click="showDeath()" ng-if="!chooseItem || chooseItem.plannum > 0">
                    <img src="img/death.png">
                    <div class="aname">死亡</div>
                </div>
                <div class="col" ng-if="chooseItem && chooseItem.plannum === 0">
                    <img src="img/death-disabled.png">
                    <div class="aname">死亡</div>
                </div>
                <div class="col last" ng-click="chooseWhatBt()">
                    <img src="img/more.png">
                    <div class="aname">更多</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新手帮助-->
    <div class="new-help-3" ng-if="newHelp03">
        <div ng-show="true">
            <img src="img/help01.jpg"/>
            <div class="step-button-01" ng-click="step01()">
                <div class="logo-text1 padding">
                    <a class="button button-small button-outline button-light started" ng-click="gotoLogin()">
                        我知道了
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="newHelpStep2">
            <img src="img/help02.jpg"/>
            <div class="step-button-02" ng-click="step02()">
                <div class="logo-text1 padding">
                    <a class="button button-small button-outline button-light started" ng-click="gotoLogin()">
                        我知道了
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="newHelpStep3">
            <img src="img/help03.jpg"/>
            <div class="step-button-03" ng-click="step03()">
                <div class="logo-text1 padding">
                    <a class="button button-small button-outline button-light started" ng-click="gotoLogin()">
                        我知道了
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 流水账按钮组-->
    <a class="npen" ng-click="showpen()"  ng-if="false">    <!--管理 showpen()       锡盟版本不展现, 如果需要展现用: 来展示          ng-if="isShowPen"-->
        <img src="img/pen.png">
    </a>
    <div class="actualCtrBG" ng-click="hideBT2()" ng-if="showBts || shareDiv"></div>
    <div class="actions" ng-if="showBts">
        <div class="row">
            <div class="col" ng-click="showDayAccout($index)" ng-repeat="item in pen.slice(0,4)">
                <img ng-src="{{item.pic}}">
                <div class="aname">{{item.name}}</div>
            </div>
        </div>
        <div class="row last">
            <div class="col" ng-click="showDayAccout($index+4)" ng-repeat="item in pen.slice(4,6)">
                <img ng-src="{{item.pic}}">
                <div class="aname">{{item.name}}</div>
            </div>
            <div class="col" ng-click="showMarket()">
                <img src="img/market.png">
                <div class="aname">销售</div>
            </div>
            <div class="col last" ng-click="createAndShowManageAsDay()">
                <img src="img/manage.png">
                <div class="aname">管理</div>
            </div>
        </div>
    </div>
    <!-- 分享按钮组-->
    <div class="actions" ng-if="shareDiv">
        <div class="row">
            <div class="col" ng-click="share('wechat')">
                <img src="img/weixin.png">
                <div class="aname">微信</div>
            </div>
            <div class="col" ng-click="share('timeline')">
                <img src="img/wxpyq.png">
                <div class="aname">朋友圈</div>
            </div>
        </div>
    </div>
</ion-view>
