<ion-modal-view class="farm-feed">
  <ion-header-bar class="bar-balanced">
      <div class="buttons">
          <button class="button button-clear" ng-click="hideVaccination()">
              <i class="icon ion-ios-arrow-back"></i>
          </button>
      </div>
      <div class="title">免疫记录</div>
      <div class="buttons"  ng-click="showDetails(2)" ng-if="ckMY">
          <button class="button button-clear">
              查看
          </button>
      </div>
  </ion-header-bar>
    <ion-content class="has-footer">
        <div class="button-bar" ng-if="switchHeaderNavBar">
            <a class="button" ng-click="showAModul()" ng-class="showA == true ? 'btActive' : ''"><span>按栋舍操作</span></a>
           <!-- <a class="button" ng-click="showBModul()" ng-class="showB == true ? 'btActive' : ''"><span>按批次操作</span></a>-->
            <a class="button" ng-click="showCModul()" ng-class="showC == true ? 'btActive' : ''"><span>按耳号操作</span></a>
        </div>
        <div class="header">
            <div class="item table-top">
                <div>
                    单号：{{farmVaccination.OrrID}}
                </div>
                <!-- <div>
                    批次号：{{farmVaccination.BathID}}
                </div> -->
                <div>
                    <div>
                        操作人：{{uerName}}
                    </div>
                    <div class="date" ng-click="getDate('vaccination')">
                        日期：{{farmVaccination.SysDate}}<img src="img/date-picker.png" class="time-picker"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="list forms">
            <div>
                <div ng-if="showA">
                    <div class="item item-divider"><span>免疫对象</span></div>
                    <div class="item item-input item-select">
                        <i>*</i>
                        <div class="input-label">
                            <span class="star-space">免疫项目：</span>
                        </div>
                       <select ng-model="farmVaccination.Immunion">
                           <option ng-repeat="item in ImmunionList">{{item}}</option>
                        </select>
                    </div>
                    <div class="item item-input item-select">
                        <i>*</i>
                        <div class="input-label">
                            <span class="star-space">免疫对象：</span>
                        </div>
                        <select ng-model="farmVaccination.PenName" ng-change="choosePen(2)">
                            <option ng-repeat="item in CurrentPensList">{{item.PlainName}}</option>
                        </select>
                    </div>
                    <div class="item item-input item-select">
                        <i>*</i>
                        <div class="input-label">
                            <span class="star-space">目标栏位：</span>
                        </div>
                        <select ng-model="farmVaccination.PlainName" ng-change="choosePlain(2)">
                            <option ng-repeat="item in usefulPlains">{{item.PlainName}}</option>
                        </select>
                    </div>
                    <div class="item">
                        <span class="star-space">存栏数：</span>
                        <span class="item-note">
                            {{farmVaccination.NumberOf}}
                        </span>
                    </div>
                </div>
                <div ng-if="showC">
                    <div class="item item-divider"><span>免疫对象</span></div>
                    <div class="item item-input item-select">
                        <i>*</i>
                        <div class="input-label">
                            <span class="star-space">免疫项目：</span>
                        </div>
                        <select ng-model="farmVaccination.Immunion">
                            <option ng-repeat="item in ImmunionList">{{item}}</option>
                        </select>
                    </div>
                    <div class="item item-input" ng-show="switchHeaderNavBar">
                        <i>*</i>
                        <div class="input-label">
                            <span class="star-space">免疫对象：</span>
                        </div>
                        <input class="sweep-input" type="text" placeholder="请使用蓝牙或输入耳标号" ng-model="farmVaccination.PNO"/>
                        <!--<div class="right-sweep" ng-click="serchBlu(3)">
                            <img src="img/sweep.png"/>
                        </div>-->
                    </div>
                    <div class="item" ng-hide="switchHeaderNavBar">
                        <span class="star-space">对象耳号：</span>
                    <span class="item-note">
                       {{farmVaccination.PNO}}
                    </span>
                    </div>
                    <div class="item">
                        <span class="star-space">所在位置：</span>
                         <span class="item-note">
                           {{farmVaccination.PenName}} {{farmVaccination.PlainName}}
                        </span>
                    </div>
                <!--    <div class="item">
                        <span class="star-space">当前处于：</span>
                        <span class="item-note">
                            保育期
                        </span>
                    </div>-->
                </div>
                <div class="item item-divider">
                    <span>免疫</span>
                    <i class="icon ion-plus-circled addFood" ng-click="addFeed(3)"></i>
                </div>

                <ion-list class="addfeed">
                    <ion-item ng-hide="noticeFeed">
                        请点击右侧加号按钮添加免疫药品
                    </ion-item>
                    <ion-item class="plannum-item" ng-repeat="item in DFeeds">
                        {{item.PFName}}（{{item.FeedUnits}}）
                        <div class="plannum-input">
                            <i class="icon button-icon ion-ios-minus-outline minus positive" ng-click="feddNmuberMinus(item, $index)"></i>
                            <input type="number" class="plannum" ng-model="item.PFNum">
                            <i class="icon button-icon ion-ios-plus plus positive" ng-click="feddNmuberPlus(item)"></i>
                        </div>
                        <ion-option-button class="button-assertive" ng-click="deleteFeed($index)">删除</ion-option-button>
                    </ion-item>
                </ion-list>
                <div class="item item-divider"><span>备注</span></div>
                <label class="item item-input">
                    <textarea placeholder="填写备注" ng-model="farmVaccination.Remark"></textarea>
                </label>
                <div>
                    <div class="item item-icon-right">
                        照片
                        <i class="icon ion-ios-camera" ng-click="takePhoto()"></i>
                    </div>
                    <div class="item item-body" ng-show="myImage">
                        <img id="myImage" class="full-image" />
                    </div>
                </div>
            </div>
     <!--       <div ng-if="showB">
                <div class="item item-divider"><span>免疫对象</span></div>
                <div class="item item-input item-select">
                    <i>*</i>
                    <div class="input-label">
                        <span class="star-space">免疫项目：</span>
                    </div>
                    <select>
                        <option selected="">口蹄疫</option>
                        <option>蓝耳病</option>
                        <option>伪狂犬</option>
                        <option>圆环</option>
                        <option>支原体</option>
                        <option>细小病毒</option>
                        <option>乙型脑炎病毒</option>
                        <option>传染性胃肠炎、腹泻</option>
                    </select>
                </div>
                <div class="item item-input item-select">
                    <i>*</i>
                    <div class="input-label">
                        <span class="star-space">免疫对象：</span>
                    </div>
                    <select>
                        <option selected="">批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                        <option>批次号01</option>
                    </select>
                </div>
                <div class="item">
                    <span class="star-space">个体编号：</span>
                    <span class="item-note">

                    </span>
                </div>
                <label class="item item-input">
                    xxxxxxxxxxxxxxxx
                </label>
                <div class="item item-divider"><span>疫苗</span></div>
                <div class="item">
                    <span class="star-space">疫苗01</span>
                    <span class="item-note">

                    </span>
                </div>
                <div class="item">
                    <span class="star-space">疫苗02</span>
                    <span class="item-note">

                    </span>
                </div>
                <div class="item">
                    <span class="star-space">点击加载更多</span>
                    <span class="item-note">

                    </span>
                </div>
                <div class="item item-divider"><span>备注</span></div>
                <label class="item item-input">
                    <div class="input-label">
                        <span class="star-space">备注：</span>
                    </div>
                    <input type="text" placeholder="填写备注">
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        <span class="star-space">照片：</span>
                    </div>
                    <input type="text" placeholder="添加照片">
                </label>
            </div>-->
          <!--  <div ng-if="showC">
                <div class="item item-divider"><span>免疫对象</span></div>
                <div class="item item-input item-select">
                    <i>*</i>
                    <div class="input-label">
                        <span class="star-space">免疫项目：</span>
                    </div>
                    <select>
                        <option selected="">口蹄疫</option>
                        <option>蓝耳病</option>
                        <option>伪狂犬</option>
                        <option>圆环</option>
                        <option>支原体</option>
                        <option>细小病毒</option>
                        <option>乙型脑炎病毒</option>
                        <option>传染性胃肠炎、腹泻</option>
                    </select>
                </div>
                <div class="item item-input">
                    <i>*</i>
                    <div class="input-label">
                        <span class="star-space">免疫对象：</span>
                    </div>
                    <input type="text" placeholder="请扫描或输入耳标号"/>
                </div>
                <div class="item">
                    <span class="star-space">所在位置：</span>
                    <span class="item-note">
                        栋舍+栏位（自动生成）
                    </span>
                </div>
                <div class="item">
                    <span class="star-space">当前处于：</span>
                    <span class="item-note">
                        保育期
                    </span>
                </div>
            </div>-->
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button button-balanced" ng-click="hideVaccination()">返回</a>
            <a class="button button-balanced" ng-click="saveFarmVaccination(1)">保存并添加</a>
            <a class="button button-balanced" ng-click="saveFarmVaccination(2)">保存并退出</a>
        </div>
    </div>
</ion-modal-view>
