<ion-view view-title="喂养">
    <div class="bar bar-subheader" style="background-image:none;padding:0;">
        <div class="button-bar">
            <div class="regsiters-list">
                <a style="color:#000;" ng-repeat="item in buttonBar" ng-class="item.active === 1 ? 'active' : ''" class="registers-list" ng-click="slideHasChanged($index)">{{item.name}}</a>
            </div>
        </div>
    </div>
    <ion-content class="has-subheader herdsmanadd" style="background-color:#f3f3f3;">
        <ion-slide-box on-slide-changed="slideHasChanged(index)" show-pager="false">
            <ion-slide>
                <ul class="floor">
                    <li class="fix">
                        <p><i>&ensp;</i>单号</p>
                        <span><i>&ensp;</i>{{entry.JHNO}}</span>
                    </li>
                    <li class="fix">
                        <p><i>&ensp;</i>日期</p>
                        <span>{{entry.date}} <i class="buyfeed-img-box" ng-click="getDates()"><img src="img/service_03.png" width="100%"></i></span>
                    </li>
                </ul>
                <ul class="floor">
                    <li class="fix">
                        <p><i>*</i>数量</p>
                        <span class="fontColor">{{numbers}}</span>
                    </li>
                </ul>
                <div class="list" style="margin:0;border-bottom:1px solid #f5f5f5;">
                    <label class="item item-input item-select" style="border:0;">
                        <p class="enter-type"><i class="enter-rad">*</i>喂养对象</p>
                        <select ng-model="feed.isType">
                            <option ng-value="1">羊</option>
                            <option ng-value="3">牛</option>
                        </select>
                    </label>
                </div>
                <div class="list">
                    <label class="item item-input item-select" style="border:0;">
                        <p class="enter-type"><i class="enter-rad">*</i>饲料</p>
                        <select ng-model="feed.isType">
                            <option ng-repeat="items in FeedFootList" ng-value="items.Id" >{{items.FeedName}}</option>
                        </select>
                    </label>
                </div>
                <ul class="floor" ng-click="takePhoto()">
                    <li class="fix" >
                        <p class="fontColor"><i>&ensp;</i>拍照</p>
                    </li>
                </ul>
                <div class="out-img-box">
                    <img src="" id="myImage6" width="100%">
                </div>
                <div class="list enter-list" style="margin-bottom:0;">
                    <div class="item item-button-right fontColor erhao-list" style="border:0;">
                        扫描到的耳号
                        <button class="button button-positive" ng-click="connectble()">
                            <i class="icon ion-wifi"></i>
                        </button>
                    </div>
                </div>
                <div class="lh-list" >
                    <ul id="FeedListEnter1">
                        <li>{{saomiao}}</li>
                    </ul>
                </div>
            </ion-slide>
            <ion-slide>
                <ul class="floor">
                    <li class="fix">
                        <p><i>&ensp;</i>单号</p>
                        <span><i>&ensp;</i>{{entrys.JHNO}}</span>
                    </li>
                    <li class="fix">
                        <p><i>&ensp;</i>日期</p>
                        <span>{{entrys.date}} <i class="buyfeed-img-box" ng-click="getD()"><img src="img/service_03.png" width="100%"></i></span>
                    </li>
                </ul>
                <ul class="floor">
                    <li class="fix">
                        <p><i>*</i>数量</p>
                        <span class="fontColor">{{enterListLength}}</span>
                    </li>
                </ul>
                <div class="list" style="margin:0;border-bottom:1px solid #f5f5f5;">
                    <label class="item item-input item-select" style="border:0;">
                        <p class="enter-type"><i class="enter-rad">*</i>喂养对象</p>
                        <select ng-model="feed.isTypes">
                            <option ng-value="1">羊</option>
                            <option ng-value="3">牛</option>
                        </select>
                    </label>
                </div>
                <div class="list">
                    <label class="item item-input item-select" style="border:0;">
                        <p class="enter-type"><i class="enter-rad">*</i>饲料</p>
                        <select ng-model="feed.FeedFood">
                            <option ng-repeat="items in FeedFootList" ng-value="items.Id" >{{items.FeedName}}</option>
                        </select>
                    </label>
                </div>
                <ul class="floor" ng-click="takePhoto()">
                    <li class="fix" >
                        <p class="fontColor"><i>&ensp;</i>拍照</p>
                    </li>
                </ul>
                <div class="out-img-box">
                    <img src="" id="myImage7" width="100%">
                </div>
                <div class="list enter-list" style="margin-bottom:0;">
                    <div class="item item-button-right fontColor erhao-list" style="border:0;">
                        扫描到的耳号
                        <button class="button button-positive" ng-click="connectble()">
                            <i class="icon ion-wifi"></i>
                        </button>
                    </div>
                </div>
                <div class="lh-list" >
                    <ul id="FeedListEnter2">
                        <li ng-repeat="item in erbiaList">{{item}}</li>
                    </ul>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button btn-save">保存</a>
            <a class="button btn-continue">保存并继续</a>
        </div>
    </div>
</ion-view>
