<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button class="button button-clear" ng-click="hidePFather()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </div>
        <div class="title">选择父号</div>
    </ion-header-bar>
    <ion-content>
        <ion-radio ng-repeat="item in PFathers" ng-model="item.checked" ng-click="setPFather(item)">
            <p>{{item.PName}}</p>
            <span ng-if="item.GId">{{item.GId}}</span><span ng-if="item.GUId">({{item.GUId}})</span>
        </ion-radio>
    </ion-content>
</ion-modal-view>
