<ion-view view-title="已发布的消息">
    <ion-nav-buttons side="right" class="book-top-box">
        <button class="button button-clear button-fabu" ng-click="gotoRelease()" style="color:#fff;">
           发布
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="Announcements-box" ng-click="gotoMoreAnn()">
            <p class="Announcements-time">2017-05-16 16:00</p>
            <div class="Announcements-message-box">
                <span class="dingdan-text dingdan-title">这里是标题</span>
                <h4 class="Announcements-name">接受人:校友</h4>
                <p class="Announcements-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem, corporis dolore dolorum eligendi eos est excepturi impedit nemo nulla odit optio</p>
                <p class="Announcements-goto-box">
                    <span class="Announcements-goto-see">前往查看</span>
                    <span class="Announcements-goto-pic">
                        <img src="img/goto_03.png" >
                    </span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>

