<ion-view view-title="消息中心">
    <ion-content>
        <div class="list">
            <a ng-repeat="item in items" class="item message-list" ng-click="gotoList(item)">
                <img ng-src="{{item.icon}}">
                <span>{{item.name}}</span>
            </a>
            <a class="item message-list" href="#/tab/message/messageOrder">
                <img src="img/bookingnotice.png" alt="">
                <span>预约反馈通知</span>
            </a>
        </div>
    </ion-content>
</ion-view>