<ion-view view-title="关于我们" class="page-aboutus">
    <ion-content>
        <div class="header logo">
            <div class="text-center padding">
                <img src="img/logo.png" width="200">
                <h4>牛羊追溯</h4>
            </div>
        </div>
        <div class="list">
            <a class="item" ng-click="checkUpdate()" ng-if="isShow">
                检测更新
            </a>
            <a class="item text-center assertive" ng-click="logout()">
                退出
            </a>
        </div>
        <p class="text-center">版权所有：江苏真源网络服务有限公司 </p>
        <p class="text-center">CopyRight 2005-2017 All Right Reserved.</p>
    </ion-content>
</ion-view>
