<ion-view view-title="我" class="page_member" hide-nav-bar="true">
    <ion-content>
        <div class="header">
            <a class="avatar" href="#/tab/account/my-card"><img ng-src="{{showMyInformation.avatar}}"></a>
            <div>
                <h4>{{showMyInformation.myname}}</h4>
                <p>ID: {{showMyInformation.PNO}}</p>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/account/my-card">
                <i class="icon my-card left"></i> 我的名片
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/mydevice">
                <i class="icon mydevice left"></i> 我的设备
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="scan()">
                <i class="icon sweep left"></i> 扫一扫
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="" ng-if="isShow">
                <i class="icon authentication left"></i> 个人认证
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
        </div>
        <div class="list" ng-if="isShow || devOn">
            <label class="item item-input item-select">
                <div class="input-label">
                    当前网络
                </div>
               <!-- <select ng-model="cururl.weburl" ng-change="setUrl()">
                    <option value="http://61.177.139.219:14803">正式版</option>
                    <option value="http://61.177.139.219:14806">测试版</option>
                    <option value="http://192.168.1.228:1312">内网版(吴)</option>
                    <option value="http://192.168.1.120:8300">内网版(陶)</option>
                    <option value="http://192.168.1.200:9012">内网版(于)</option>
                    <option value="http://192.168.1.82">内网版(孙)</option>
                    <option value="http://localhost:36023">开发版(陶)</option>
                </select>-->
            </label>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/account/farm-info">
                <i class="icon farm-set-up left"></i> 农场设置
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-if="isShow">
                <i class="icon general-settings left"></i> 通用设置
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/feedback">
                <i class="icon feedback left"></i> 意见反馈
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/newhelp">
                <i class="icon novice-help left"></i> 新手帮助
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/account/aboutus">
                <i class="icon about-us left"></i> 关于我们
                <i class="icon ion-ios-arrow-right right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
