@charset "UTF-8";
/*新农场界面*/
#farm-slider {
  height: auto; }

.nfarm {
  background: url(../img/farm.png) no-repeat center top;
  /* height: 100%; */
  background-size: 100%;
  position: relative; }

.nfarm .content-img {
  width: 100%; }

.nfarm .weather {
  position: absolute;
  background-size: contain;
  left: 0.291391rem;
  top: 0;
  text-align: center; }

.nfarm .weather > img {
  display: block;
  width: 1.1311258rem;
  height: 1.1311258rem;
  margin-left: 0.185430rem; }

.nfarm .weather span {
  font-size: 0.373380rem;
  position: relative;
  top: -0.132450rem;
  color: #E5F1F3; }

.topbtns {
  position: absolute;
  right: 0;
  top: 0; }

.topbtns a {
  background-color: transparent;
  text-align: center;
  padding: 0 0.185430rem; }

.topbtns a > img {
  width: 1.006623rem;
  height: 1.006623rem;
  position: relative;
  right: .06rem; }

.topbtns a.button.active,
.topbtns a.button.activated {
  box-shadow: none; }

.nfarm .fan {
  position: absolute;
  left: 0.18rem;
  top: 1.5rem;
  width: 2.119205rem;
  height: 2.119205rem; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.nfarm .nfarmname {
  position: absolute;
  top: 3.8rem;
  right: 13%;
  width: 28%;
  height: 1.146810rem; }

.nfarm .nfarmname > img {
  width: 100%;
  height: 100%; }

.nfarm .nfarmname > span {
  display: inline-block;
  position: absolute;
  color: #695425;
  font-size: 0.370861rem;
  font-weight: 600;
  height: 0.609272rem;
  line-height: 0.74rem;
  width: 86%;
  top: 0;
  left: 7%;
  text-align: center;
  overflow: hidden; }

.nfarm .nfarmname > span p {
  margin: 0; }

.nfarm_lists {
  position: absolute;
  top: 5.827815rem;
  z-index: 60; }

.nfarm_list {
  margin: 0 auto;
  color: #695425; }

.nfarm_list p {
  max-width: 100%;
  font-size: 0.397351rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.deletPenAnimation {
  -webkit-transform-origin: center center;
  -webkit-animation-name: shake-rotate;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes shake-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  12.5% {
    -webkit-transform: rotate(1.25deg); }
  25% {
    -webkit-transform: rotate(2.5deg); }
  37.5% {
    -webkit-transform: rotate(1.25deg); }
  50% {
    -webkit-transform: rotate(0deg); }
  62.5% {
    -webkit-transform: rotate(-1.25deg); }
  75% {
    -webkit-transform: rotate(-2.5deg); }
  87.5% {
    -webkit-transform: rotate(-1.25deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

.farm_list_background {
  position: absolute;
  padding-top: 5.827815rem;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.farm_list_background .nfarm_list .fillSpace {
  visibility: hidden; }

.farm_list_background .nfarm_list .deleteBtWarp {
  position: relative; }

.farm_list_background .nfarm_list .deleteBt {
  font-size: 0.450331rem;
  padding: 0.158940rem;
  position: absolute;
  color: indianred;
  right: -0.238411rem;
  top: -0.688742rem; }

.nfarm_list img {
  width: 100%; }

.nfarm .actions {
  position: fixed;
  z-index: 103;
  left: 0;
  height: 6.320790rem;
  width: 100%;
  background-color: #fff; }

.nfarm .actions .col {
  text-align: center; }

.nfarm .actions .row.last .col {
  border-bottom: 1px solid #fff; }

.nPlain_lists {
  position: fixed;
  z-index: 101;
  top: 1.8rem;
  /*4.662252*/
  width: 84%;
  left: 8%;
  height: 9rem;
  overflow: scroll;
  background: #f8f8f8;
  padding-top: .7467600rem; }

.nPlain_lists_header {
  position: fixed;
  z-index: 103;
  top: 1.8rem;
  width: 84%;
  left: 8%;
  height: 0.800100rem;
  background-color: #2CCC86;
  color: whitesmoke; }

.nPlain_lists_header > img {
  width: 1.280160rem;
  margin: 0.160020rem 0.373380rem; }

.nPlain_lists_header > span {
  position: relative;
  top: -0.293370rem; }

.nPlain_lists_header .right {
  background-color: #2CCC86;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0.5rem;
  width: 1.5rem;
  height: 0.768212rem; }

.nPlain_lists_header .right img {
  width: 0.768212rem;
  height: 0.768212rem; }

.nPlain_list {
  padding: 0; }

.nPlain_list .border, .colPlain_list .border {
  /* padding: .02rem .05rem;*/
  height: 1.55rem;
  line-height: 0.826770rem;
  width: 3.947160rem;
  font-size: 0.320040rem;
  border-radius: 0.106680rem;
  overflow: hidden;
  border: 1px solid #f8f8f8; }

.colPlain_list .border .up {
  position: relative;
  width: 100%;
  height: 0.900662rem; }

.colPlain_list .border .up img {
  margin: 0.15rem 0.106680rem 0 0.3rem;
  width: 0.746760rem;
  height: 0.746760rem; }

.colPlain_list .border .up span {
  color: #2CCC86;
  font-size: 0.44rem;
  letter-spacing: 0.04rem;
  font-weight: 100;
  position: absolute;
  right: 0.65rem;
  top: 0.1rem; }

.colPlain_list .border .down {
  height: 0.476821rem;
  position: relative; }

.colPlain_list .border .down p {
  position: relative;
  top: -0.105960rem;
  left: 0.25rem; }

.colPlain_list .border .down b {
  font-weight: 100;
  position: absolute;
  top: -0.105960rem;
  right: 0.397351rem; }

.nPlain_list .border > span, .colPlain_list .border > span {
  padding-left: .04rem;
  position: relative;
  top: -0.240030rem; }

.nPlain_list .border > img, .colPlain_list .border > img {
  margin: 0.053340rem 0.106680rem 0.026670rem 0.106680rem;
  width: 0.746760rem;
  height: 0.746760rem; }

.nPlain_list .border.blue, .colPlain_list .border.blue {
  background: transparent url(../img/selected.png) bottom right no-repeat;
  background-size: 0.400050rem 0.400050rem;
  border: 1px solid #2CCC86; }

.colPlain_list {
  padding: 0; }

.colPlain_list .left {
  width: 50%;
  float: left; }

.colPlain_list .right {
  width: 50%;
  float: left; }

.colPlain_list .my-col {
  padding: 5px; }

.npen {
  position: fixed;
  z-index: 101;
  bottom: 1.7rem;
  right: 0.19rem;
  width: 1.65rem;
  height: 1.65rem;
  /* background-color: red;*/ }

.npen > img {
  width: 1.65rem;
  height: 1.65rem; }

.actualCtrBG {
  opacity: 0.5;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.actions {
  position: absolute;
  z-index: 110;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 48px; }

.actions > .row {
  margin: 0.373380rem 0; }

.actions > .row img {
  width: 1.386840rem;
  height: 1.386840rem; }

.actions > .row .aname {
  position: relative;
  top: 0.160020rem;
  font-size: 0.426720rem;
  color: #656565; }

.cancel {
  width: 100%;
  height: 49px;
  line-height: 49px;
  background-color: #F3F3F3;
  text-align: center;
  color: #656565;
  font-size: 0.426720rem; }

.list .table-top > div > div:nth-child(1) {
  float: left;
  width: 50%; }

.list .table-top > div > div:nth-child(2) {
  text-align: right; }

.item-divider {
  color: #2DCC86; }

.item-divider span {
  border-left: 0.106680rem solid #2DCC86;
  padding-left: 0.266700rem;
  font-size: 0.453390rem; }

.item span.star-space {
  margin-left: 0.400050rem; }

.item > i {
  color: #2DCC86;
  position: absolute;
  font-size: 0.693420rem;
  top: 41%; }

.item > i.front-input {
  top: 0.266700rem; }

.forms .item input {
  text-align: right; }

.plain_details .item div:first-child {
  float: left;
  width: 55%; }

.plain_details .item div:last-child {
  float: left;
  text-align: right;
  width: 45%; }

.item > div > i {
  margin: 0 0.133350rem  0 0.240030rem; }

.item span.note {
  color: palevioletred;
  float: right;
  text-align: right; }

.item span.themeColor {
  color: #2DCC86; }

.item span.showNo {
  margin: 0 0.213360rem; }

.mantissa > div {
  position: relative;
  top: 0.186690rem;
  float: left; }

.mantissa > div > div {
  float: left;
  width: 0.480060rem;
  height: 0.480060rem;
  background: transparent url(../img/radio.png) 0 0 no-repeat;
  background-size: 0.453390rem; }

.mantissa > div:nth-child(1) {
  padding-left: 0.400050rem;
  width: 2.800350rem; }

.mantissa > div:nth-child(2) {
  top: 0.266700rem;
  font-size: 0.346710rem;
  width: 2.667000rem; }

.mantissa > div:nth-child(3) {
  top: 0.266700rem;
  font-size: 0.346710rem;
  width: 2.480310rem; }

.mantissa > div:nth-child(4) {
  top: 0.080010rem;
  width: 1.546860rem; }

.button > span {
  padding: 12px 3px; }

.btActive {
  color: #2DCC86; }

.btActive > span {
  border-bottom: 0.053340rem solid #2DCC86; }

.morebuttons .col {
  /*     width: 1.866900rem;
    height: 2.667000rem;
    margin: 0.080010rem 0.213360rem;
    padding: 0.266700rem 0.240030rem;
    border: 1px solid transparent; */
  text-align: center;
  text-decoration: none;
  margin: 0.080010rem 0; }

.morebuttons .col img {
  width: 1.413510rem;
  height: 1.413510rem; }

.morebuttons .col span {
  /*     display: inline-block;
    width: 2.026920rem;
    padding-top: 0.053340rem;
    text-align: center;
    font-size: 0.426720rem;
    position: relative;
    right: 0.240030rem; */
  display: block;
  text-align: center;
  font-size: 0.426720rem;
  padding-top: 0.053340rem; }

.out-warp {
  padding-top: 0.13rem;
  padding-left: 0.133350rem; }

.search {
  width: 9.334500rem;
  height: 1.059603rem;
  background-color: #2DCC86;
  margin-left: 50%;
  left: -4.667250rem;
  position: relative;
  top: 1.333500rem;
  z-index: 11;
  border-radius: 0.106680rem; }

.search input {
  width: 8.16rem;
  height: 0.794702rem;
  font-size: 0.5rem;
  padding-left: 5px;
  line-height: 0.794702rem; }

.search i {
  font-size: 0.800100rem;
  color: white;
  position: absolute;
  top: -0.18rem;
  right: -0.3rem;
  width: 1.3rem;
  height: 1.4rem;
  line-height: 1.45rem;
  padding-left: 0.2rem; }

.search b {
  font-size: 0.800100rem;
  background: transparent url(../img/sweep.png) 0.5rem 0.37rem no-repeat;
  /*transparent*/
  background-size: 0.693420rem;
  position: absolute;
  top: -0.18rem;
  right: 1rem;
  width: 1.4rem;
  height: 1.4rem; }

/*下导航按钮改变图标！*/
.bar-message {
  background: url(../img/message.png) no-repeat center;
  background-size: 28px 28px; }

.tab-item-active .bar-message {
  background: url(../img/message-active.png) no-repeat center;
  background-size: 28px 28px; }

.bar-farm {
  background: url(../img/farm-ion.png) no-repeat center;
  background-size: 28px 28px; }

.tab-item-active .bar-farm {
  background: url(../img/farm-ion-active.png) no-repeat center;
  background-size: 28px 28px; }

.bar-service {
  background: url(../img/service.png) no-repeat center;
  background-size: 28px 28px; }

.tab-item-active .bar-service {
  background: url(../img/service-active.png) no-repeat center;
  background-size: 28px 28px; }

.bar-account {
  background: url(../img/account.png) no-repeat center;
  background-size: 28px 28px; }

.tab-item-active .bar-account {
  background: url(../img/account-active.png) no-repeat center;
  background-size: 28px 28px;
  /**/ }

.top-pic {
  height: 4.533900rem;
  color: white;
  position: relative;
  background: transparent url(../img/search-detail-bg.png) 0 0 no-repeat;
  background-size: 100% 4.533900rem; }

.top-pic .bgshadow {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  opacity: 0.5; }

.top-pic > div.front {
  color: white;
  position: absolute;
  z-index: 15;
  width: 4.800600rem;
  height: 4.533900rem;
  left: 50%;
  margin-left: -2.400300rem; }

.top-pic > div.front > div:nth-child(1) {
  width: 1.706880rem;
  height: 1.706880rem;
  position: relative;
  left: 50%;
  margin-left: -0.853440rem;
  margin-top: 0.320040rem;
  border-radius: 0.853440rem;
  background-color: white; }

.top-pic > div.front > span {
  display: inline-block;
  margin-top: 0.213360rem;
  width: 100%;
  text-align: center; }

.top-pic > div.front > div:nth-child(4) {
  margin-top: 0.133350rem; }

.top-pic .left {
  float: left; }

.top-pic .left span {
  color: #2DCC86; }

.top-pic .right {
  float: right; }

.PNOdetail .item span.right {
  display: inline-block;
  float: right;
  text-align: right; }

.forms .detailsBts > div {
  width: 20%;
  height: 2.800350rem;
  position: relative; }

.forms .detailsBts > div img {
  width: 1.386840rem;
  height: 1.386840rem;
  margin: 0.320040rem 0.266700rem 0.133350rem 0.266700rem; }

.forms .detailsBts > div span {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute; }

.progress-bar {
  padding: 0 0.426720rem 0 0.426720rem; }

.progress-bar progress {
  width: 100%;
  border: 1px solid  #2DCC86;
  background-color: #e6e6e6; }

.progress-bar progress::-webkit-progress-bar {
  background: #e6e6e6; }

.progress-bar progress::-webkit-progress-value {
  background-color: #2DCC86; }

.animal-record {
  position: relative; }

.animal-record .button-wrap {
  position: absolute;
  left: 50%;
  margin: 0.533400rem 0 0.533400rem -2.026920rem;
  width: 4.053840rem;
  height: 0.853440rem;
  border: 0.026670rem solid #2DCC86;
  border-radius: 0.106680rem; }

.animal-record .button-wrap > div {
  width: 50%;
  height: 0.800100rem;
  line-height: 0.853440rem;
  float: left;
  text-align: center; }

.animal-record .button-wrap > div:nth-child(1) {
  border-top-left-radius: 0.106680rem;
  border-bottom-left-radius: 0.106680rem; }

.animal-record .button-wrap > div:nth-child(2) {
  border-bottom-right-radius: 0.106680rem;
  border-top-right-radius: 0.106680rem; }

.animal-record .button-wrap > div.active {
  background-color: #2DCC86;
  color: white; }

.header .table-top > div > div {
  float: left;
  width: 50%; }

.header .table-top > div > div:nth-child(2) {
  text-align: right; }

/*农场添加页*/
.addfarmModal {
  width: 70%;
  height: 55%;
  position: absolute;
  z-index: 15;
  left: 15%;
  top: 21%;
  background-color: white;
  border-radius: 0.160020rem;
  box-shadow: 0.10668rem 0.10668rem 0.053340rem #333;
  box-sizing: content-box; }

.addfarmModal .header {
  height: 15%;
  line-height: 3.5;
  font-size: 0.453390rem;
  background-color: #2DCC86;
  text-align: center;
  color: white;
  border-top-left-radius: 0.160020rem;
  border-top-right-radius: 0.160020rem;
  position: relative;
  z-index: 25; }

#content {
  margin: 0 0.266700rem 0.213360rem 0.266700rem;
  background-color: #eee;
  height: 60% !important;
  overflow: scroll;
  position: relative; }

#content .scroll {
  position: relative;
  z-index: 15;
  top: -0.73rem;
  height: 45%;
  margin: 0 0.264901rem; }

#content .aitem {
  width: 99%;
  height: 0.960120rem;
  line-height: 0.960120rem;
  font-size: 0.400050rem;
  overflow: hidden;
  margin-top: 0.186690rem;
  margin-bottom: 0.186690rem; }

#content .aitem:after {
  content: "";
  display: table;
  clear: both; }

#content .aitem div {
  float: left;
  width: 38%; }

#content .aitem div i {
  font-size: 0.480060rem;
  color: #2DCC86;
  position: relative;
  top: 0.133350rem; }

#content .aitem div span.has-start {
  padding-left: 0.333375rem; }

#content .aitem input {
  display: inline-block;
  float: right;
  width: 60%;
  height: 0.640080rem;
  margin-top: 0.160020rem;
  border: 1px solid #999;
  background-color: #eee; }

#content .aitem select {
  display: inline-block;
  float: right;
  width: 60%;
  height: 0.640080rem;
  margin-top: 0.160020rem;
  border: 1px solid #999;
  background-color: #eee; }

#content .aitem option {
  text-align: right; }

#content .aitem .aitem-nte {
  display: inline-block;
  float: right;
  width: 60%;
  height: 0.640080rem;
  line-height: 0.640080rem;
  margin-top: 0.160020rem;
  background-color: #eee; }

#content .addfeed {
  border-top: 1px solid #999; }

.addfarmModal .buttons {
  padding: 0.397351rem 0 0.158940rem 0;
  position: relative;
  z-index: 25;
  color: white;
  background-color: white;
  border-radius: 0.160020rem; }

.addfarmModal .buttons div {
  width: 90%;
  margin-left: 5%;
  height: 0.960120rem;
  line-height: 0.960120rem;
  text-align: center;
  margin-bottom: 0.133350rem;
  border-radius: 0.106680rem; }

.addfarmModal .buttons div:nth-child(1) {
  background-color: #238DDA; }

.addfarmModal .buttons div:nth-child(2) {
  background-color: #2DCC86; }

.addfarm-bg {
  position: absolute;
  width: 50%;
  height: 2.3467rem;
  bottom: 40%;
  left: 25%;
  background-color: #000;
  opacity: 0.15;
  border-radius: 0.160020rem; }

.addfarm {
  position: absolute;
  width: 50%;
  height: 2.34694rem;
  bottom: 40%;
  left: 25%;
  color: white; }

.addfarm i {
  display: block;
  text-align: center;
  margin-top: 0.2667rem;
  font-size: .93345rem; }

.addfarm p {
  text-align: center;
  margin-top: 0.16002rem;
  font-size: 0.48006rem;
  font-weight: 100; }

/*服务页面*/
.service-header {
  height: .90678rem;
  padding-top: 0.16002rem;
  padding-left: 0.40005rem;
  font-size: 0.45339rem;
  font-weight: 500; }

.feed-standard {
  font-size: 0.40005rem;
  position: relative;
  margin-top: 10px; }

.feed-standard:after {
  content: "";
  display: table;
  clear: both; }

.feed-standard .left {
  width: 11%;
  height: 100%;
  position: absolute;
  top: 0; }

.feed-standard .left.nocheck {
  background: transparent url(../img/check.png) center 0 no-repeat;
  background-size: 0.40005rem; }

.feed-standard .left.checked {
  background: transparent url(../img/checked.png) center 0 no-repeat;
  background-size: 0.40005rem; }

.feed-standard .button-cover {
  width: 1.059603rem;
  height: 1.456954rem;
  position: absolute;
  top: 0;
  left: -0.264901rem;
  z-index: 999; }

.feed-standard .right {
  width: 87%;
  border: 1px solid #2DCC86;
  border-radius: 0.16002rem;
  margin-left: 11%; }

.feed-standard .right:after {
  content: "";
  display: table;
  clear: both; }

.feed-standard .right .header {
  height: 1.17348rem;
  line-height: 1.17348rem;
  font-size: 0.42672rem;
  padding-left: 0.32004rem;
  color: white;
  background-color: #2DCC86;
  position: relative; }

.feed-standard .right .standardContent {
  padding: 0.146685rem 0.32004rem; }

.feed-standard .right .standardContent .less {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* .feed-standard .right div:nth-child(2)>div {
    padding: 0.146685rem 0.32004rem;
    height: 0.821192rem;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.feed-standard .right div:nth-child(2)>div:nth-child(4) {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.feed-standard .right div:nth-child(2)>div:nth-child(4) span {
    color: #2DCC86;
} */
.feed-standard-details {
  padding: 0.40005rem 0.40005rem 0 0.40005rem;
  font-size: 0.426720rem; }

.feed-standard-details > div {
  padding-bottom: 0.266700rem; }

.feed-standard-details > div > div.left {
  font-size: 0.400050rem;
  width: 24%;
  float: left; }

.feed-standard-details > div > div.right {
  font-size: 0.373380rem;
  width: 76%;
  float: left; }

.feed-standard-details > div:nth-child(4):after {
  content: "";
  display: table;
  clear: both; }

.feed-standard-create {
  position: relative; }

.feed-standard-create .leftbt {
  position: absolute;
  z-index: 12;
  width: 1.440180rem;
  height: 1.013460rem;
  top: 0;
  right: 0;
  padding: 0.213360rem 0.026670rem; }

.feed-standard-create > div > div > i {
  color: #bbb; }

.detail .item {
  padding: 0.26670rem 0.426720rem;
  color: #2DCC86; }

.remark .left {
  width: 15%;
  float: left; }

.remark .right {
  border: 1px solid #bbb;
  width: 85%;
  height: 2.13360rem;
  background-color: #eee;
  float: right; }

.slider-pager {
  bottom: 10px; }

/*设置周期页面*/
#sm-set .title, #sm-set .ion-ios-minus-outline {
  color: white; }

.set-date span:nth-child(1) {
  width: 17%;
  line-height: 2;
  float: left; }

.set-date input:nth-child(2) {
  width: 31%;
  float: left;
  margin-left: 0.160020rem;
  border: 1px solid #888;
  border-radius: 0.133350rem; }

.set-date span:nth-child(3) {
  width: 13%;
  line-height: 2;
  margin-left: 0.160020rem;
  float: left; }

.set-date input:nth-child(4) {
  width: 13%;
  float: left;
  margin-left: 0.160020rem;
  border: 1px solid #888;
  border-radius: 0.133350rem; }

.set-date div:nth-child(5) {
  width: 10%;
  margin-left: 0.400050rem;
  float: left; }

.set-date i {
  width: 0.400050rem;
  height: 0.400050rem;
  font-size: 0.70010rem; }

.item-right-edit {
  width: 50px;
  padding-left: 10px; }

#chevron-right {
  color: #bbb; }

/*我的*/
.page_member .header {
  height: 4.503311rem;
  background-color: #2DCC86;
  color: white;
  text-align: center; }

.page_member .header div:nth-child(1) {
  margin: 0 auto; }

.page_member .header img {
  width: 1.642384rem;
  height: 1.642384rem;
  margin: 0.42rem auto 0.15rem auto; }

.page_member .header div h4 {
  margin-top: 0.2rem;
  margin-bottom: 0.16rem;
  color: white; }

.page_member .right {
  color: #bbb; }

.page_member .left {
  width: 0.662252rem;
  height: 0.662252rem;
  position: absolute;
  top: 28%;
  left: 4%; }

.page_member .my-card {
  background: transparent url(../img/business-card.png) 0 0 no-repeat;
  background-size: 0.73333rem; }

.page_member .sweep {
  background: transparent url(../img/sweep.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .authentication {
  background: transparent url(../img/authentication.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .division {
  height: 0.264901rem; }

.page_member .farm-set-up {
  background: transparent url(../img/farm-set-up.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .general-settings {
  background: transparent url(../img/general-settings.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .feedback {
  background: transparent url(../img/feedback.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .novice-help {
  background: transparent url(../img/novice-help.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .about-us {
  background: transparent url(../img/about-us.png) 0 0 no-repeat;
  background-size: 0.662252rem; }

.page_member .mydevice {
  background: transparent url(../img/mydevice.png) 0 0 no-repeat;
  background-size: 0.6rem; }

/*app-management*/
.apps-management .row {
  text-align: center; }

.apps-management .bt-switch {
  margin: 0.264901rem auto;
  width: 1.377483rem;
  height: 1.377483rem;
  line-height: 1.377483rem;
  font-size: 0.450331rem;
  text-align: center;
  color: white;
  border-radius: 0.688742rem;
  background-color: #cccccc; }

.apps-management .my-active {
  background-color: #2DCC86; }

.apps-management .item img {
  float: left;
  width: 1.377483rem;
  height: 1.377483rem; }

.apps-management .item p {
  float: left;
  font-size: 0.423841rem;
  height: 1.377483rem;
  line-height: 1.377483rem;
  padding-left: 0.264901rem; }

.apps-management .item > div {
  text-align: center;
  color: white;
  width: 1.589404rem;
  height: 0.927152rem;
  line-height: 0.927152rem;
  margin-top: 0.264901rem;
  background-color: #2DCC86;
  float: right;
  border-radius: 0.105960rem; }

.my-slide .box1 {
  height: 3.8rem; }

.banner img {
  height: 3.8rem; }

.item .my-code {
  position: absolute;
  right: 16px;
  top: 13px;
  width: 0.688742rem;
  height: 0.688742rem; }

/* 地图*/
.mapBg {
  background-color: #8FCEAF; }

.map-contain {
  min-height: 16.6rem;
  background: transparent url(../img/map-big.jpg) 0 0 no-repeat;
  background-size: 10.5rem 25.324503rem; }

.map-contain .map-item {
  height: 1.854305rem; }

.map-contain > div {
  width: 100%; }

.map-contain > div:nth-child(1) {
  padding-top: 3rem;
  padding-left: 1rem; }

.map-contain > div:nth-child(2) {
  padding-top: 2rem;
  padding-left: 6rem; }

.map-contain > div:nth-child(3) {
  padding-top: 2.2rem;
  padding-left: 3rem; }

.map-contain > div:nth-child(4) {
  padding-top: 2.4rem;
  padding-left: 0.5rem; }

.map-contain > div:nth-child(5) {
  padding-top: 1.2rem;
  padding-left: 5.7rem; }

.map-contain > div:nth-child(6) {
  padding-top: 1.8rem;
  padding-left: 2.4rem; }

.map-contain > div:nth-child(7) {
  padding-top: 2.3rem;
  padding-left: 4rem; }

.map-contain > div:nth-child(8) {
  padding-top: 2.2rem;
  padding-left: 0.5rem; }

.map-contain > div:nth-child(9) {
  padding-top: 1.4rem;
  padding-left: 6.0rem; }

.map-contain .map-item img:nth-child(1) {
  width: 0.529801rem;
  height: 0.609272rem; }

.map-contain .map-item img:nth-child(2) {
  width: 0.609272rem;
  height: 1.059603rem; }

.map-contain .map-item > div {
  float: left; }

/*流水账--管理*/
.chart {
  text-align: center;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  font-size: 0.450331rem;
  padding: 6px; }

.chart .leftBt {
  position: absolute;
  top: 0.980132rem;
  left: 0.185430rem;
  font-size: 0.688742rem;
  padding: 1.059603rem 0.132450rem; }

.chart .rightBt {
  position: absolute;
  top: 0.980132rem;
  right: 0.185430rem;
  font-size: 0.688742rem;
  padding: 1.059603rem 0.132450rem; }

.chart .canvas-style {
  width: 90%;
  margin: 0 auto; }

.show-total {
  margin-bottom: 0.423841rem;
  height: 0.635762rem; }

.show-total div {
  float: left;
  width: 50%;
  font-size: 0.450331rem;
  text-align: center; }

.show-total span {
  color: #2DCC86; }

.my-item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 0.158940rem 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.423841rem; }

#farm-item {
  padding: 0; }

#farm-item .item-content {
  padding: 0.158940rem 16px; }

#farm-item .right-ions {
  position: absolute;
  top: 0.26rem;
  right: 16px;
  font-size: 0.8rem; }

.my-item:after {
  content: '';
  display: table;
  clear: both; }

.my-item > div {
  float: left;
  height: 1.006623rem; }

.my-item .pic {
  width: 1.006623rem;
  border-radius: 0.503311rem;
  background-color: #ccc; }

.my-item .pic img {
  width: 1.006623rem;
  height: 1.006623rem; }

.show-classify {
  width: 4.2rem;
  padding-left: 0.75rem;
  line-height: 0.503311rem; }

.show-classify span {
  color: #ccc;
  font-size: 0.370861rem; }

.show-money {
  width: 3.6rem;
  font-size: 0.450331rem;
  line-height: 1.006623rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.my-badge {
  position: absolute;
  text-align: center;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #05F3F3;
  color: white;
  top: 0.42rem;
  right: 1.2rem;
  font-size: 0.4rem; }

.right-ions {
  position: absolute;
  top: 0.31rem;
  right: 16px;
  font-size: 0.8rem; }

.showTime {
  padding: 0.211921rem 0.423841rem;
  font-size: 16px; }

.showTime:after {
  content: '';
  display: table;
  clear: both; }

.showTime span {
  margin-left: .3rem;
  float: left; }

.showTime div.showDay {
  float: left;
  margin-left: 2.5rem; }

.showTime div.showMouth {
  float: left;
  margin-left: 3.427152rem; }

.showTime div.showYear {
  float: left;
  margin-left: 4.354305rem; }

.showTime img {
  margin-left: .2rem;
  float: left;
  width: 0.529801rem;
  height: 0.529801rem; }

.positions .item-content {
  font-size: 0.423841rem;
  height: 1.324503rem;
  line-height: 1; }

.show-farm-name span {
  color: #ccc;
  font-size: 0.370861rem; }

.addFarmSlide {
  overflow: hidden; }

.new-help-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.new-help-1 div {
  position: absolute;
  z-index: 1000; }

.new-help-1 .hollow {
  width: 56%;
  height: 2.7rem;
  bottom: 39%;
  left: 22%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0 0 0 2005px;
  /* rgba(0,0,0,.7*/
  z-index: 100; }

.new-help-1 .border {
  width: 61%;
  height: 3.2rem;
  bottom: 37.5%;
  left: 19.5%;
  border-radius: 11px;
  background-color: transparent;
  border: 2px dashed #fff; }

.new-help-1 .arrow {
  width: 1.059603rem;
  height: 1.854305rem;
  bottom: 23%;
  left: 60%; }

.new-help-1 .notice {
  width: 4.291391rem;
  height: 1.324503rem;
  bottom: 15%;
  left: 33%;
  color: white;
  font-size: 15px; }

.new-help-1 .bt {
  width: 2.119205rem;
  height: 0.794702rem;
  line-height: 0.794702rem;
  text-align: center;
  bottom: 8%;
  left: 47%;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: url(../img/Iknow.png) no-repeat;
  background-size: 100% 100%;
  width: 2.42667rem;
  height: 1.06667rem; }

.new-help-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.new-help-3 {
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white; }

.new-help-3 > div {
  position: absolute;
  width: 100%;
  height: 100%; }

.new-help-3 > div img {
  width: 100%;
  height: 100%; }

.new-help-3 div .step-button-01 {
  padding: 0.052980rem 0.105960rem;
  position: absolute;
  width: 2.5rem;
  height: 1rem;
  top: 11.25rem;
  left: 3.7rem;
  background-color: transparent; }

.new-help-3 div .step-button-02 {
  padding: 0.052980rem 0.105960rem;
  position: absolute;
  width: 2.5rem;
  height: 1rem;
  top: 12.4rem;
  left: 3.7rem;
  background-color: transparent; }

.new-help-3 div .step-button-03 {
  padding: 0.052980rem 0.105960rem;
  position: absolute;
  width: 2.5rem;
  height: 1rem;
  top: 10.2rem;
  left: 6.8rem;
  background-color: transparent; }

.service-help {
  background: url(../img/service-help.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }

.service-help img {
  width: 100%;
  height: 100%; }

.service-help .service-help-step {
  background: url(../img/Iknow.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 2.42667rem;
  height: 1.06667rem;
  top: 14.8rem;
  left: 3.9rem; }

.list .chooseBts {
  font-size: 0.397351rem;
  margin: 0 0.079470rem; }

.list .chooseBts span {
  display: inline-block;
  width: 2.1rem;
  text-align: center; }

.list .row div.active {
  color: #2DCC86; }

.btsGroup {
  font-size: 0.423841rem;
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 15;
  width: 100%;
  padding: 0 0;
  background-color: #eee; }

.btsGroup .myCol {
  padding: 0.235960rem 0.344371rem;
  border-bottom: 0.026490rem solid #ddd; }

.btsGroup .myCol.active {
  background-color: #bbb;
  color: #2DCC86; }

.my-choose {
  position: relative; }

.btsGroup2 {
  font-size: 0.423841rem;
  position: absolute;
  top: 1.09rem;
  right: 0;
  z-index: 15;
  width: 100%;
  padding: 0 0;
  background-color: #eee; }

.btsGroup2 .myCol {
  padding: 0.235960rem 0.344371rem;
  border-bottom: 0.026490rem solid #ddd; }

.btsGroup2 .myCol.active {
  background-color: #bbb;
  color: #2DCC86; }

.shouldRight input {
  text-align: right; }

/*农场喂养页面*/
.addfeed {
  /* border-top: 3px solid #2DCC86; */ }

.addfeed .item-divider {
  background: #188CDD;
  color: #fff;
  padding: 0.317881rem 0.423841rem; }

.addfeed .item-divider .assertive {
  /* color: #ef473a; */ }

.addfeed .item-divider .deletehouse {
  position: absolute;
  right: 0.423841rem;
  top: 0.264901rem;
  color: #fff; }

.forms .addFood {
  position: absolute;
  right: 0.264901rem;
  top: 0.132450rem; }

.forms .supplier {
  position: relative; }

.item-input input {
  padding-right: 0;
  margin-right: 0.635762rem;
  position: relative;
  z-index: 30; }

.forms .addList .rightBottomWarp {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.2rem;
  height: 1.2rem;
  z-index: 20000; }

.forms .addList .rightBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 0.635762rem solid #2DCC86;
  border-left: 0.635762rem solid transparent; }

.farm-feed {
  background: #f3f3f3; }

.farm-feed input {
  text-align: right; }

.farm-feed input.plannum {
  width: 1.324503rem;
  display: inline;
  position: relative;
  border: 0.026490rem solid #ccc;
  top: -0.185430rem;
  text-align: center; }

.forms .item {
  position: relative; }

.forms .item input.sweep-input {
  margin-right: 1.377483rem; }

.forms .right-sweep {
  position: absolute;
  right: 0.185430rem;
  bottom: 9px;
  width: 0.741722rem;
  height: 0.741722rem; }

.forms .right-sweep img {
  width: 100%;
  height: 100%; }

/*农事查看页面*/
.my-item2 {
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 0.158940rem 16px;
  border: 1px solid #ddd;
  font-size: 0.397351rem; }

.my-item2:after {
  content: '';
  display: table;
  clear: both; }

.my-item2 .left {
  width: 96%; }

.my-item2 .left > div > div {
  height: 0.529801rem;
  width: 50%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.my-item2 .left > div > div:nth-child(2) {
  text-align: right; }

.my-item2 .right-ions {
  right: 0.264901rem; }

.farmDetail .scroll {
  background-color: #F3F3F3; }

.farmDetail .my-row {
  padding: 0;
  margin-bottom: 0.264901rem; }

.farmDetail .chooseBts {
  font-size: 0.450331rem;
  padding: 0.211921rem 0;
  background-color: white;
  text-align: center;
  float: left;
  width: 50%; }

.farmDetail .chooseBts span {
  padding-right: 0.211921rem; }

.my-list {
  padding-bottom: 0.264901rem; }

.my-item3 .up-half p {
  padding-bottom: 0.158940rem; }

.my-item3 .up-half p:nth-child(1) {
  font-size: 0.423841rem;
  font-weight: 600; }

.my-item3 .up-half p:nth-child(1) span {
  color: #2DCC86;
  font-size: 0.423841rem;
  font-weight: 500; }

.my-item3 .up-half p:nth-child(2) {
  font-size: 0.423841rem;
  color: #777;
  padding-bottom: 0.291391rem;
  border-bottom: 0.026490rem dashed  #ccc; }

.my-item3 .up-half p:nth-child(2) .worker {
  letter-spacing: -0.013245rem; }

.my-item3 .down-half {
  color: #888;
  padding-top: 0.291391rem; }

.my-item3 .down-half div {
  width: 50%;
  float: left; }

.my-item3 .down-half div:nth-child(2) {
  text-align: right; }

.farmDetailInner {
  background-color: #F3F3F3; }

.farmDetailInner .list {
  margin-bottom: 10px; }

.farmDetailInner .list-title {
  background-color: white;
  color: #2DCC86;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  font-size: 16px; }

.farmDetailInner .remark {
  text-align: right; }

.my-item4 {
  background-color: white;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 0.158940rem 16px;
  border: 1px solid #ddd;
  font-size: 0.397351rem; }

.my-item4 p span:nth-child(1) {
  display: inline-block; }

.my-item4 p span:nth-child(2) {
  float: right;
  text-align: right; }

.addPen {
  width: 3rem;
  height: 1.827815rem; }

.addPen div:nth-child(1) {
  width: 100%;
  padding: 0.199rem;
  font-size: 0.794702rem; }

.addPen div:nth-child(2) {
  font-size: 0.397351rem; }

.time-picker {
  margin-left: .2rem;
  float: right;
  width: 0.529801rem;
  height: 0.529801rem; }

.invite-button {
  top: 20px !important; }

.right-button {
  position: absolute;
  right: 16px;
  top: 22px;
  height: 100%;
  margin: auto 0; }

.service-tab {
  overflow-x: hidden; }

.iknow {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background-color: #2DCC86;
  color: white;
  text-align: center;
  /* border: 0.026490rem solid white;*/
  border-radius: 0.211921rem;
  font-size: 0.397351rem; }

.logo-text1 {
  position: absolute;
  width: 100%;
  text-align: center; }

.my-item6 {
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -0.026490rem;
  padding: 0.18rem 0.423841rem;
  border: 0.026490rem solid #ddd;
  font-size: 0.397351rem; }

.my-item6:after {
  content: '';
  display: table;
  clear: both; }

.my-item6 div {
  height: 1.112583rem;
  float: left; }

.my-item6 .left {
  width: 1.112583rem; }

.my-item6 .left img {
  height: 1.112583rem;
  width: 1.112583rem; }

.my-item6 .middle {
  padding-left: 0.423841rem;
  line-height: 1; }

.my-item6 .middle p {
  font-size: 0.43rem;
  letter-spacing: 0.026490rem;
  color: #2DCC86; }

.my-item6 .middle span {
  font-size: 0.413rem;
  color: #aaa;
  position: relative;
  top: -0.052980rem; }

.my-item6 .right {
  float: right; }

.my-item6 .right img {
  position: relative;
  top: 0.291391rem;
  width: 0.556291rem;
  height: 0.556291rem; }

.has-add-book {
  position: relative; }

.address-book {
  background-color: #fff;
  position: absolute;
  width: 62px;
  height: 50px;
  top: 0;
  right: 0; }

.address-book img {
  position: relative;
  top: 11px;
  left: 15px;
  width: 26px;
  height: 26px; }

.my-col1 {
  height: 1.2rem; }

.mypic {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 1.059603rem;
  height: 1.059603rem; }

.my-item7 {
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: 16px 16px 0 16px;
  padding: 0.158940rem 16px;
  border: 1px solid #ddd;
  font-size: 0.397351rem; }

.my-item7:after {
  content: '';
  display: table;
  clear: both; }

.my-item7 textarea {
  height: 300px;
  width: 100%; }

.my-feedback div {
  text-align: center; }

.my-feedback button {
  margin: 30px auto 0 auto;
  width: 200px;
  color: white;
  font-weight: 600;
  background-color: #2DCC86; }

.button.button-light.button-outline.started {
  /*     border: none; */ }

.my-click-item {
  padding: 13px 0 12px 16px; }

.my-btn-font {
  font-family: "微软雅黑"; }

/*权限管理的样式*/
.assess-header {
  width: 100%;
  background-color: #fff;
  height: 4.56rem;
  font-size: 0.2rem;
  box-sizing: border-box; }

.assess-header .up {
  font-size: 0.4rem;
  padding: 0.38667rem 0.22667rem;
  border-bottom: 1px solid #a0a0a0; }

.assess-header .up:nth-child(1) {
  height: 1.17333rem; }

.assess-header .up:nth-child(2) {
  height: 1.68rem; }

.assess-header .up .left {
  color: #a0a0a0;
  float: left;
  width: 1.82667rem; }

.assess-header .up .right {
  float: left;
  width: 7.62667rem; }

.assess-header .down {
  background-color: #f3f3f3;
  font-size: 0.32rem;
  color: #cccccc;
  padding: 0.32rem 0.22667rem;
  border-bottom: 1px solid #a0a0a0; }

.assess-header .down span {
  color: #ff2942; }

.assess-body {
  background-color: #fff;
  box-sizing: border-box; }

.assess-body .my-title {
  font-size: 0.42667rem;
  height: 1.14667rem;
  line-height: 1.14667rem;
  padding-left: 0.22667rem;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0; }

.assess-body .left {
  font-size: 0.4rem;
  float: left;
  width: 30%; }

.assess-body .right {
  font-size: 0.4rem;
  float: left;
  width: 70%;
  border-left: 1px solid #a0a0a0; }

.assess-item {
  height: 1.46667rem;
  line-height: 1.46667rem;
  border-bottom: 1px solid #a0a0a0;
  background-color: #fff; }

.assess-body .default {
  background-color: #F8F8F8;
  color: #999999; }

.assess-body .active {
  background-color: #fff;
  color: #2DCC86; }

.assess-item-right {
  line-height: 1.46667rem;
  /*  border-bottom:  1px solid #a0a0a0;*/
  background-color: #fff; }

.assess-body .my-check {
  width: 1.30667rem;
  height: 1.46667rem;
  background: transparent url(../img/assess-selected.png) center no-repeat;
  background-size: 0.74667rem; }

.assess-body .my-uncheck {
  width: 1.30667rem;
  height: 1.46667rem;
  background: transparent url(../img/assess-unselected.png) center no-repeat;
  background-size: 0.74667rem; }

.assess-body .left .my-check, .assess-body .left .my-uncheck {
  float: left; }

.assess-body .right .show {
  display: block; }

.assess-body .right .hidden {
  display: none; }

.assess-body .right .assess-item-right .assess-item-header {
  height: 1.46667rem;
  border-bottom: 1px solid #a0a0a0; }

.assess-body .right .assess-item-right .assess-item-header .my-p {
  float: left;
  width: 4.38667rem;
  padding-left: 0.69333rem; }

.assess-body .right .assess-item-header .my-arrow-down {
  text-align: center;
  font-size: 0.66667rem;
  width: 1.24rem;
  height: 1.46667rem;
  float: left; }

.assess-body .right .assess-item-right .assess-item-header .my-check, .assess-body .right .assess-item-right .assess-item-header .my-uncheck {
  float: right; }

.assess-item-right .sub-content .assess-item {
  padding-left: 0.37333rem; }

.assess-item-right .sub-content .assess-item .my-check, .assess-item-right .sub-content .assess-item .my-uncheck {
  float: left; }

.assess-body .right {
  position: relative; }

.assess-body .right .assess-right-subwrap {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #a0a0a0; }

.platform-ios .nfarm .weather {
  top: 20px; }

.platform-ios .nfarm .topbtns {
  top: 20px; }

/*我的团队*/
.my-team .item {
  /* height: pxTorem(114px);*/
  /*  line-height: pxTorem(114px);*/
  padding: 0 0.26667rem 0 1.62667rem; }
  .my-team .item p {
    font-size: 0.45333rem;
    height: 1.52rem;
    line-height: 1.52rem; }
  .my-team .item .iconimg {
    width: 1.09333rem;
    height: 1.09333rem;
    position: absolute;
    left: 0.26667rem;
    top: 0.21333rem; }
  .my-team .item .employees {
    margin-bottom: 0.4rem; }

.employees {
  padding-left: 0.81333rem; }

.employees .sub-my-time:nth-last-child(1) {
  border: 1px solid #ddd; }

.sub-my-time {
  color: #666;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-bottom: 0;
  height: 1.33333rem;
  line-height: 1.33333rem;
  position: relative;
  padding-left: 1.42667rem; }
  .sub-my-time .iconimg2 {
    width: 0.96rem;
    height: 0.96rem;
    position: absolute;
    left: 0.18667rem;
    top: 0.18667rem; }
  .sub-my-time p.p6 {
    position: absolute;
    top: 0.10667rem;
    left: 1.38667rem;
    font-size: 0.4rem;
    height: 0.66667rem;
    line-height: 0.66667rem; }
  .sub-my-time span {
    color: #666;
    position: absolute;
    bottom: 0.05333rem;
    left: 1.38667rem;
    font-size: 0.37333rem;
    height: 0.66667rem;
    line-height: 0.66667rem; }

.my-team .my-check {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 0.6rem;
  width: 1.30667rem;
  height: 1.46667rem;
  line-height: 1.46667rem;
  color: #AAAAAA; }

.farmadd .has-footer .item .balanced {
  font-size: 100%; }

.farmadd .has-footer .item-input .balanced {
  position: relative;
  top: 0.10667rem; }

.zw {
  height: 0.26667rem; }
.odd-item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.423841rem;
  height: 2.4rem;
  line-height: 1.7; }
  .odd-item .odd-num {
    font-size: 0.42667rem; }
  .odd-item .time, .odd-item .num, .odd-item .dh {
    font-size: 0.34667rem;
    color: #999; }
  .user-name::-webkit-input-placeholder,.user-pwd::-webkit-input-placeholder{
      color:#fff;
  }
.register-box{
    position:fixed;
    bottom:0;
    left:0;
    background-color:#fff;
    width:100%;
    opacity: 0.7;
    height:1rem;
}
.register-text{
    margin:0;
    position:absolute;
    bottom:0;left:0;
    line-height:1rem;
    width:100%;
    text-align:center;
    font-size:0.5rem;
}
.no-have-text{
    color:#fff;
}
.register{
    color:#54A6FC;
}
.register-text span{
    display:inline-block;
}