#logo {
  padding-top: 1.6rem;
  margin-bottom: 1.6rem; }
  #logo img {
    display: block;
    width: 2.06667rem;
    margin: 0 auto; }

.login-list {
  padding: 0 0.66667rem; }

.login-list .item.username {
  margin-bottom: 1px;
  border-bottom: 1px solid #ccc;
  background-color: transparent; }

.page_login .login-list .username-icon {
  background: url(../img/username_icon.png) no-repeat;
  width: 0.50667rem;
  height: 0.56rem;
  background-size: 0.50667rem 0.56rem; }

.page_login .login-list .password-icon {
  background: url(../img/password_icon.png) no-repeat;
  width: 0.50667rem;
  height: 0.57333rem;
  background-size: 0.50667rem 0.57333rem; }

.user-name::-webkit-input-placeholder, .user-pwd::-webkit-input-placeholder {
  color: #fff; }

.register-box {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  opacity: 0.7;
  height: 1rem; }

.register-text {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.5rem; }

.page_login {
  background: url(../img/page_login.png) no-repeat center center fixed;
  background-size: cover; }

.no-have-text {
  color: #fff; }

.register {
  color: #54A6FC; }

.register-text span {
  display: inline-block; }

.link_forget a {
  color: #6699ff;
  font-size: 0.5rem; }

.regsiters-list {
  width: 90%;
  margin: 0 auto; }
  .regsiters-list .active {
    border-bottom: 2px solid #53A6FC; }

.registers-list {
  display: inline-block;
  line-height: 44px;
  color: #000;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  font-size: 0.53333rem; }

.tel-box {
  width: 94%;
  margin: 0.66667rem auto 0 auto; }

.pic-userName {
  display: inline-block;
  width: 0.4rem;
  height: 0.54667rem; }

.register-tel-icon {
  background: url("../img/tel_03.png") no-repeat;
  width: 0.4rem;
  height: 0.54667rem;
  background-size: 0.4rem 0.54667rem; }

.register-code-icon {
  display: inline-block;
  float: left;
  margin-left: 14px;
  margin-top: 0.4rem;
  background: url("../img/tel_06.png") no-repeat;
  width: 0.50667rem;
  height: 0.54667rem;
  background-size: 0.50667rem 0.54667rem; }

.register-password-icon {
  background: url("../img/tel_10.png") no-repeat;
  width: 0.48rem;
  height: 0.56rem;
  background-size: 0.48rem 0.56rem; }

.getCode {
  position: absolute;
  right: 0.06667rem;
  top: 0.33333rem;
  font-size: 0.4rem; }

.tijiao {
  background-color: #53A6FC;
  color: #fff; }

.userName-tel-icon {
  background: url("../img/user_03.png") no-repeat;
  width: 0.48rem;
  height: 0.46667rem;
  background-size: 0.48rem 0.46667rem; }

.mess-list {
  width: 90%;
  margin: 1.06667rem auto 0 auto;
  border: 0; }

.input-label {
  font-size: 0.53333rem; }

.item-stacked-label .mess-put {
  font-size: 0.46667rem; }

.mess-city-box {
  padding: 6px 0 5px 16px; }

.mess-city {
  width: 50%;
  margin-top: 10px; }

#prvince, #city, #qu {
  width: 32%;
  padding: 5px 5px 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px; }

.nav-bar-block > .bar-header {
  background-image: none; }

.Announcements-box {
  width: 100%;
  margin-top: 0.4rem;
  background-color: #fff; }

.danhao {
  font-size: 0.53333rem; }

.danhaoBox {
  width: 92%;
  margin: 0 auto; }

.isType-yang {
  display: inline-block;
  width: 48%; }

.yuyue-date {
  width: 92%;
  margin: 0 auto;
  text-align: right;
  padding: 0.26667rem 0;
  font-size: 0.46667rem; }

.isType-yang:nth-child(2) {
  text-align: right; }

.muchang-Name {
  margin: 0;
  padding: 0.26667rem 0; }

.sure-box {
  width: 92%;
  margin: 0 auto;
  padding: 0.13333rem 0;
  position: relative;
  height: 1.2rem; }

.button-lineheight {
  line-height: 0.93333rem;
  min-height: 0; }

.date-right {
  position: absolute;
  top: 0.13333rem;
  right: 0;
  line-height: 0.93333rem;
  font-size: 0.46667rem; }

.NewMessage-date {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }

.Announcements-danhao {
  width: 94%;
  margin: 0 auto; }

.NewMessage-p {
  width: 92%;
  margin: 0 auto;
  font-size: 0.53333rem;
  color: #444;
  position: relative; }

.NewMessage-yuyue {
  line-height: 1.33333rem; }

.rili {
  position: absolute;
  top: 0;
  right: 0.4rem;
  line-height: 1.57333rem; }

.NewMessage-date-img {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.33333rem; }

.Announcements-time {
  text-align: center;
  font-size: 0.4rem;
  color: #999;
  margin-top: 0.26667rem; }

.Announcements-message-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.13333rem 0.13333rem 0.13333rem #e1e1e1; }

.dingdan-text {
  display: block;
  padding: 0.4rem 0 0.4rem 0.26667rem;
  font-size: 0.46667rem;
  border-bottom: 1px solid #f5f5f5; }

.Announcements-goto-box {
  overflow: hidden;
  border-top: 1px solid #f5f5f5; }

.Announcements-goto-see {
  float: left;
  font-size: 0.48rem;
  color: #51a6ff;
  padding: 0.4rem 0 0.4rem 0.26667rem; }

.Announcements-goto-pic {
  float: right; }
  .Announcements-goto-pic img {
    margin: 0.4rem 0.26667rem 0 0;
    width: 0.33333rem; }

.Announcements-text-p {
  width: 80%;
  margin: 0 auto;
  padding: 0.26667rem 0;
  color: #666;
  font-size: 0.48rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.AnnouncementsMore-box {
  width: 90%;
  margin: 0 auto; }
  .AnnouncementsMore-box h2 {
    margin-top: 0.26667rem;
    color: #333333;
    font-size: 0.53333rem; }
  .AnnouncementsMore-box h4 {
    color: #999999;
    font-size: 0.4rem; }
  .AnnouncementsMore-box h3 {
    color: #666666;
    font-size: 0.48rem; }

.Announcements-name {
  padding-left: 0.26667rem;
  color: #999;
  font-size: 0.4rem;
  margin: 0;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #f5f5f5; }

.dingdan-title {
  border: 0; }

.release-box {
  width: 94%;
  margin: 0 auto; }
  .release-box .item-input {
    margin: 0;
    padding-left: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0; }
    .release-box .item-input input {
      padding-right: 0;
      text-align: right;
      font-size: 0.46667rem; }
    .release-box .item-input .input-label {
      color: #666; }
  .release-box .item-select {
    margin: 0;
    border: 0; }

#release-text {
  resize: none;
  background-color: #f5f5f5;
  width: 100%;
  height: 4rem;
  font-size: 0.48rem;
  padding: 0.26667rem 0; }

.release-btn {
  position: fixed;
  left: 5%;
  bottom: 0.4rem;
  width: 90%;
  margin: 0 auto;
  background-color: #53A6FC;
  text-align: center;
  color: #fff;
  font-size: 0.53333rem;
  border-radius: 0.8rem; }

.giveUsMess-box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #f5f5f5; }

.giveUs-box {
  width: 90%;
  margin: 0 auto; }

#GiveUsMess {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 0.26667rem;
  height: 7.33333rem;
  resize: none;
  padding: 0.26667rem; }

.button-giveUs {
  width: 100%;
  margin: 10px auto 0 auto; }

.red-text-message {
  position: absolute;
  top: 0;
  left: 0; }

.enter-rad {
  color: #ff7f66; }

.item .enter-type {
  font-size: 0.53333rem; }

.enter-list {
  margin-top: 0.4rem;
  margin-bottom: 0; }

.erhao-list {
  font-size: 0.46667rem; }

.lh-list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #f5f5f5; }
  .lh-list ul {
    width: 100%;
    overflow: hidden; }
    .lh-list ul li {
      float: left;
      width: 50%;
      text-align: center;
      line-height: 0.93333rem; }

.item .buyfeed-save-put {
  text-align: right;
  font-size: 0.53333rem; }

.buyfeed-img-box {
  display: inline-block;
  width: 0.66667rem; }

.out-img-box {
  width: 80%;
  margin: 0 auto; }

#beizhu {
  resize: none;
  width: 95%;
  margin: 0 auto;
  margin-top: 0.26667rem;
  height: 4rem;
  font-size: 0.46667rem;
  border-radius: 5px;
  padding: 0.26667rem; }

.setFarm-box {
  width: 94%;
  margin: 0 auto; }

.setFarm-box li {
  padding: 0.26667rem 0;
  border-bottom: 1px solid #F6F6F6; }

.setFarm-name, .setFarm-text {
  display: inline-block; }

.setFarm-name {
  width: 30%;
  font-size: 0.53333rem;
  color: #666; }

.setFarm-text {
  width: 70%;
  font-size: 0.53333rem;
  color: #333;
  text-align: right; }

.setFarm-button {
  width: 94%;
  margin: 0.4rem auto 0 auto;
  background-color: #51a6ff;
  color: #fff;
  text-align: center;
  padding: 0.26667rem 0;
  font-size: 0.46667rem;
  border-radius: 5px; }

.setFarm-button:active {
  background-color: #79b3f1; }

.list .setFarm-textRight {
  text-align: right;
  font-size: 0.53333rem;
  color: #333; }

.setFarm-fontColor {
  color: #666; }

.aboutMe-img-box {
  width: 3.33333rem;
  margin: 0.66667rem auto 0 auto; }

.soliden {
  text-align: center;
  font-size: 0.53333rem;
  margin-top: 0.4rem;
  font-weight: 600; }

.checkOut {
  color: red;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.26667rem 0;
  margin-top: 1.33333rem; }

.banquan, .Copy {
  text-align: center; }

.wite-sure {
  background-color: red;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
  position: absolute;
  top: 0.2rem;
  right: 3%; }

.sure-sure {
  background-color: #39e439;
  color: #fff;
  padding: 0.2rem;
  border-radius: 5px;
  position: absolute;
  top: 0.2rem;
  right: 3%; }

.item .enter-put {
  text-align: right;
  font-size: 0.53333rem; }

.swiper-container {
  overflow: visible; }

/*# sourceMappingURL=lh.css.map */
