#logo {
  padding-top: 1.6rem;
  margin-bottom: 1.6rem; }
  #logo img {
    display: block;
    width: 2.06667rem;
    margin: 0 auto; }

.login-list {
  padding: 0 0.66667rem; }

.login-list .item.username {
  margin-bottom: 1px;
  border-bottom: 1px solid #ccc;
  background-color: transparent; }

.page_login .login-list .username-icon {
  background: url(../img/username_icon.png) no-repeat;
  width: 0.50667rem;
  height: 0.56rem;
  background-size: 0.50667rem 0.56rem; }

.page_login .login-list .password-icon {
  background: url(../img/password_icon.png) no-repeat;
  width: 0.50667rem;
  height: 0.57333rem;
  background-size: 0.50667rem 0.57333rem; }

.user-name::-webkit-input-placeholder, .user-pwd::-webkit-input-placeholder {
  color: #fff; }

.register-box {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  opacity: 0.7;
  height: 1rem; }

.register-text {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.5rem; }

.page_login {
  background: url(../img/page_login.png) no-repeat center center fixed;
  background-size: cover; }

.no-have-text {
  color: #fff; }

.register {
  color: #54A6FC; }

.register-text span {
  display: inline-block; }

.link_forget a {
  color: #6699ff;
  font-size: 0.5rem; }

.regsiters-list {
  width: 90%;
  margin: 0 auto; }
  .regsiters-list .active {
    border-bottom: 2px solid #53A6FC; }

.registers-list {
  display: inline-block;
  line-height: 44px;
  color: #000;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  font-size: 0.53333rem; }

.tel-box {
  width: 94%;
  margin: 0.66667rem auto 0 auto; }

.pic-userName {
  display: inline-block;
  width: 0.4rem;
  height: 0.54667rem; }

.register-tel-icon {
  background: url("../img/tel_03.png") no-repeat;
  width: 0.4rem;
  height: 0.54667rem;
  background-size: 0.4rem 0.54667rem; }

.register-code-icon {
  display: inline-block;
  float: left;
  margin-left: 14px;
  margin-top: 0.4rem;
  background: url("../img/tel_06.png") no-repeat;
  width: 0.50667rem;
  height: 0.54667rem;
  background-size: 0.50667rem 0.54667rem; }

.register-password-icon {
  background: url("../img/tel_10.png") no-repeat;
  width: 0.48rem;
  height: 0.56rem;
  background-size: 0.48rem 0.56rem; }

.getCode {
  position: absolute;
  right: 0.06667rem;
  top: 0.33333rem;
  font-size: 0.4rem; }

.tijiao {
  background-color: #53A6FC;
  color: #fff; }

.userName-tel-icon {
  background: url("../img/user_03.png") no-repeat;
  width: 0.48rem;
  height: 0.46667rem;
  background-size: 0.48rem 0.46667rem; }

.mess-list {
  width: 90%;
  margin: 1.06667rem auto 0 auto;
  border: 0; }

.input-label {
  font-size: 0.53333rem; }

.item-stacked-label .mess-put {
  font-size: 0.46667rem; }

.blue-mess-put::-webkit-input-placeholder {
  color: #53A6FC; }

.mess-city-box {
  padding: 6px 0 5px 16px; }

.mess-city {
  width: 50%;
  margin-top: 10px; }

#prvince, #city, #qu {
  width: 32%;
  padding: 5px 5px 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px; }

.nav-bar-block > .bar-header {
  background-image: none; }

/*# sourceMappingURL=lh.css.map */
