@charset "UTF-8";
$designWidth: 750px;
@function toRem($px){
	@return $px / ($designWidth/10) * 1rem;
}

//tab-message
.message-list {
	padding: toRem(25px) toRem(20px) toRem(25px) toRem(20px);
	font-size: 18px;
	
	line-height: 1;
	span {
		position: relative;
		top: toRem(-25px);
		left: 7px;
		
	}
	img {
		width: toRem(80px);
		height: toRem(80px);
		
	}
}

.wrap-parts {
	padding: toRem(32px) toRem(20px);
	.part-item{
		background-color: white;
		border-radius:  toRem(20px);
		box-shadow: toRem(6px) toRem(12px) toRem(5px) #e1e1e1;
		margin-bottom: toRem(24px);
		header {
			padding: toRem(31px) toRem(20px);
			font-size: toRem(38px);
			color: #51a6ff;
			border-bottom: 2px solid #f3f3f3;
		}
		.content {
			.row {
				height: toRem(205px);
				.col-4 {
					position: relative;
					width: 33%;
					float: left;
					text-align: center;
					img {
						margin: toRem(30px) auto;
					}
					.p {
						font-size: toRem(46px);
						width: 100%;
					}
					.not-p {
						color: #cccccc;
					}
				}
			}
		}
	}
}
.enter-img {
	width: toRem(60px);
	height:toRem(60px);
}
.insure-img {
	width: toRem(51px);
	height:toRem(57px);
}

//nav-buttons
.bar-message {
	background: url(../img/message.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-message {
	background: url(../img/message-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-farm {
	background: url(../img/farm-ion.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-farm {
	background: url(../img/farm-ion-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-service {
	background: url(../img/service.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-service {
	background: url(../img/service-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-account {
	background: url(../img/account.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-account {
	background: url(../img/account-active.png) no-repeat center;
	background-size: 28px 28px;
	}

