@charset "UTF-8";
$designWidth: 750px;
@function toRem($px){
	@return $px / ($designWidth/10) * 1rem;
}

//tab-message
.message-list {
	padding: toRem(25px) toRem(20px) toRem(25px) toRem(20px);
	font-size: 18px;
	
	line-height: 1;
	span {
		position: relative;
		top: toRem(-25px);
		left: 7px;
		
	}
	img {
		width: toRem(80px);
		height: toRem(80px);
		
	}
}

//nav-buttons
.bar-message {
	background: url(../img/message.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-message {
	background: url(../img/message-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-farm {
	background: url(../img/farm-ion.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-farm {
	background: url(../img/farm-ion-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-service {
	background: url(../img/service.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-service {
	background: url(../img/service-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-account {
	background: url(../img/account.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-account {
	background: url(../img/account-active.png) no-repeat center;
	background-size: 28px 28px;
	}

