@charset "UTF-8";
$designWidth: 750px;
$fontColor: #51a6ff;
@function toRem($px){
	@return $px / ($designWidth/10) * 1rem;
}

a {
	text-decoration: none;
	color: #000;
}
.fix{
    border-bottom:1px solid #f5f5f5;
}
.fix:after {
	display:block;
	content:"";
	clear:both;
}

.button-bar .regsiters-list .active {
	color: #53A6FC !important;
}

//tab-message
.message-list {
	padding: toRem(25px) toRem(20px) toRem(25px) toRem(20px);
	font-size: 18px;
	position:relative;
	line-height: 1;
	span {
		position: relative;
		top: toRem(-25px);
		left: 7px;

	}
	img {
		width: toRem(80px);
		height: toRem(80px);

	}
}
.fontColor {
	color: $fontColor !important;
}
.wrap-parts {
	padding: toRem(32px) toRem(20px);
	.part-item{
		background-color: white;
		border-radius:  toRem(20px);
		box-shadow: toRem(6px) toRem(12px) toRem(5px) #e1e1e1;
		margin-bottom: toRem(24px);
		header {
			padding: toRem(31px) toRem(20px);
			font-size: toRem(38px);
			color: #51a6ff;
			border-bottom: 2px solid #f3f3f3;
		}
		.content {
			.row {
				height: toRem(205px);
				.col-4 {
					position: relative;
					width: 33%;
					float: left;
					text-align: center;
					a {
						display: block;
					}
					img {
						margin: toRem(30px) auto;
					}
					.p {
						font-size: toRem(46px);
						width: 100%;
					}
					.not-p {
						color: #cccccc;
					}
				}
			}
		}
	}
}
.enter-img {
	width: toRem(60px);
	height:toRem(60px);
}
.insure-img {
	width: toRem(51px);
	height:toRem(57px);
}

//nav-buttons
.bar-message {
	background: url(../img/message.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-message {
	background: url(../img/message-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-farm {
	background: url(../img/farm-ion.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-farm {
	background: url(../img/farm-ion-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-service {
	background: url(../img/service.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-service {
	background: url(../img/service-active.png) no-repeat center;
	background-size: 28px 28px; }

.bar-account {
	background: url(../img/account.png) no-repeat center;
	background-size: 28px 28px; }

.tab-item-active .bar-account {
	background: url(../img/account-active.png) no-repeat center;
	background-size: 28px 28px;
	}

//account left-icion

.tabs-account .header {
	height: toRem(280px);
	margin-bottom: toRem(20px);
	padding-top: toRem(80px);
	background-color: #51a6ff;
	position: relative;
	img {
		width:  toRem(120px);
		height: toRem(120px);
		margin: 0 toRem(30px);
	}
	span:nth-child(2) {
		position: relative;
		top: toRem(-68px);
		color: white;
		font-size: toRem(34px);
	}
	span:nth-child(3) {
		position: relative;
		left: toRem(-77px);
		top: toRem(-18px);
		color: white;
		font-size: toRem(30px);
	}
	.edit {
		width: toRem(230px);
		height: toRem(60px);
		line-height: toRem(60px);
		border-radius: toRem(30px) 0 0 toRem(30px);
		background-color: #33c1ff;
		color: white;
		font-size: toRem(36px);
		position: absolute;
		right: 0;
		bottom: toRem(108px);
		img {
			width: toRem(32px);
			height:toRem(32px);
			margin: 0 toRem(4px) 0 toRem(25px);
			position: relative;
			top: toRem(4px);
		}
	}
}
.tabs-account .left {
	width: toRem(48px);
	height:toRem(48px);
	position: absolute;
	top: 26%;
	left: 4%; }

.tabs-account .farm-set {
	background: transparent url(../img/farm-set.png) 0 0 no-repeat;
	background-size: toRem(48px); }
.tabs-account .feed-back {
	background: transparent url(../img/feed-back.png) 0 0 no-repeat;
	background-size: toRem(48px); }
.tabs-account .notice-help {
	background: transparent url(../img/notice-help.png) 0 0 no-repeat;
	background-size: toRem(48px); }
.tabs-account .about-us {
	background: transparent url(../img/about-us.png) 0 0 no-repeat;
	background-size: toRem(48px); }


.floor {
	margin-top: toRem(30px);
	background-color: #fff;
	li {
		height: toRem(100px);
		line-height: toRem(100px);
		padding: 0 24px 0 12px;
		p {
			>i {
				color: #ff7f66;
			}
			font-size: toRem(40px);
			color: #666666;
			float: left;
			margin: 0;
		}
		span{
			font-size: toRem(40px);
			color: #333;
			float: right;
		}
	}
}

.button-bar > .button a.btn-save ,.button-bar > .button a.btn-continue {
	width:80%;
}

.btn-save {
	color: #fff;
	background-color: $fontColor;
	width: 60% !important;
	border-radius: 16px !important;
}


.btn-continue {
	color: #fff;
	background-color: #49e6bc;
	width: 60% !important;
	border-radius: 16px !important;

}



.tab-item.tab-item-active .tab-title {
	color: $fontColor;
}

















